<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="loggingConfiguration" type="Microsoft.Practices.EnterpriseLibrary.Logging.Configuration.LoggingSettings, Microsoft.Practices.EnterpriseLibrary.Logging, Version=5.0.414.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" requirePermission="true" />
    <section name="dataConfiguration" type="Microsoft.Practices.EnterpriseLibrary.Data.Configuration.DatabaseSettings, Microsoft.Practices.EnterpriseLibrary.Data, Version=5.0.414.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" requirePermission="true" />
    <section name="cachingConfiguration" type="Microsoft.Practices.EnterpriseLibrary.Caching.Configuration.CacheManagerSettings, Microsoft.Practices.EnterpriseLibrary.Caching, Version=5.0.414.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" requirePermission="true" />
    <section name="syncConfiguration" type="Ys.Sync.Svc.SyncCfgSection,Ys.Sync.Svc" requirePermission="false"/>
  </configSections>
  <loggingConfiguration name="" tracingEnabled="true" defaultCategory="Debug">
    <listeners>
      <add name="Email Trace Listener" type="Microsoft.Practices.EnterpriseLibrary.Logging.TraceListeners.EmailTraceListener, Microsoft.Practices.EnterpriseLibrary.Logging, Version=5.0.414.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
                listenerDataType="Microsoft.Practices.EnterpriseLibrary.Logging.Configuration.EmailTraceListenerData, Microsoft.Practices.EnterpriseLibrary.Logging, Version=5.0.414.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
                toAddress="jianweichen@yishion.net" fromAddress="qqcjw@126.com" subjectLineStarter="邮件日志"
                subjectLineEnder="" smtpServer="smtp.126.com" formatter="EmailFormatter"
                authenticationMode="UserNameAndPassword" useSSL="false" userName="qqcjw@126.com"
                password="yishionyishion" />

      <add name="SyncInfoTraceListener" type="Microsoft.Practices.EnterpriseLibrary.Logging.TraceListeners.RollingFlatFileTraceListener, Microsoft.Practices.EnterpriseLibrary.Logging, Version=5.0.414.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
     listenerDataType="Microsoft.Practices.EnterpriseLibrary.Logging.Configuration.RollingFlatFileTraceListenerData, Microsoft.Practices.EnterpriseLibrary.Logging, Version=5.0.414.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
     fileName="log\info\rolling_Info.log" formatter="SyncFormatter" rollFileExistsBehavior="Overwrite"
     rollInterval="None" rollSizeKB="1024" maxArchivedFiles="30"/>
      <add name="SyncErrTraceListener" type="Microsoft.Practices.EnterpriseLibrary.Logging.TraceListeners.RollingFlatFileTraceListener, Microsoft.Practices.EnterpriseLibrary.Logging, Version=5.0.414.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
       listenerDataType="Microsoft.Practices.EnterpriseLibrary.Logging.Configuration.RollingFlatFileTraceListenerData, Microsoft.Practices.EnterpriseLibrary.Logging, Version=5.0.414.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
       fileName="log\err\rolling_Err.log" formatter="SyncFormatter" rollSizeKB="1024" maxArchivedFiles="30"/>
      <add name="SyncDebugTraceListener" type="Microsoft.Practices.EnterpriseLibrary.Logging.TraceListeners.RollingFlatFileTraceListener, Microsoft.Practices.EnterpriseLibrary.Logging, Version=5.0.414.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
        listenerDataType="Microsoft.Practices.EnterpriseLibrary.Logging.Configuration.RollingFlatFileTraceListenerData, Microsoft.Practices.EnterpriseLibrary.Logging, Version=5.0.414.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
        fileName="log\dbg\rolling_Dbg.log" formatter="SyncFormatter" rollSizeKB="1024" maxArchivedFiles="30"/>
      <add name="SyncAuTraceListener" type="Microsoft.Practices.EnterpriseLibrary.Logging.TraceListeners.RollingFlatFileTraceListener, Microsoft.Practices.EnterpriseLibrary.Logging, Version=5.0.414.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
        listenerDataType="Microsoft.Practices.EnterpriseLibrary.Logging.Configuration.RollingFlatFileTraceListenerData, Microsoft.Practices.EnterpriseLibrary.Logging, Version=5.0.414.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
        fileName="log\Au\rolling_Au.log" formatter="SyncFormatter" rollSizeKB="1024" maxArchivedFiles="30"/>
    </listeners>
    <formatters>
      <add type="Microsoft.Practices.EnterpriseLibrary.Logging.Formatters.TextFormatter, Microsoft.Practices.EnterpriseLibrary.Logging, Version=5.0.414.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
          template="Timestamp: {timestamp}{newline}&#xA;Message: {message}{newline}&#xA;Category: {category}{newline}&#xA;Priority: {priority}{newline}&#xA;EventId: {eventid}{newline}&#xA;Severity: {severity}{newline}&#xA;Title:{title}{newline}&#xA;Machine: {localMachine}{newline}&#xA;App Domain: {localAppDomain}{newline}&#xA;ProcessId: {localProcessId}{newline}&#xA;Process Name: {localProcessName}{newline}&#xA;Thread Name: {threadName}{newline}&#xA;Win32 ThreadId:{win32ThreadId}{newline}&#xA;Extended Properties: {dictionary({key} - {value}{newline})}"
          name="Text Formatter" />
      <add type="Microsoft.Practices.EnterpriseLibrary.Logging.Formatters.TextFormatter, Microsoft.Practices.EnterpriseLibrary.Logging, Version=5.0.414.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
          template="店铺:{title}&#xA;条件: {message}&#xA;{dictionary({key} : {value}&#xA;)}"
          name="ClearFormatter" />
      <add type="Microsoft.Practices.EnterpriseLibrary.Logging.Formatters.TextFormatter, Microsoft.Practices.EnterpriseLibrary.Logging, Version=5.0.414.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
               template="Title:{title}{newline}&#xA;Message: {message}{newline}&#xA;&#xA;"
               name="EmailFormatter" />
      <add type="Microsoft.Practices.EnterpriseLibrary.Logging.Formatters.TextFormatter, Microsoft.Practices.EnterpriseLibrary.Logging, Version=5.0.414.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
                template="Timestamp: {timestamp(local)}{newline}Title:{title}{newline}Message:{message}{newline}ThreadId:{win32ThreadId}"
                name="SyncFormatter" />
      <add type="Microsoft.Practices.EnterpriseLibrary.Logging.Formatters.TextFormatter, Microsoft.Practices.EnterpriseLibrary.Logging, Version=5.0.414.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
      template="Nothing" name="Nothing" />
    </formatters>
    <categorySources>
      <add switchValue="All" name="Error">
        <listeners>
          <add name="SyncErrTraceListener" />
        </listeners>
      </add>
      <add switchValue="All" name="Debug">
        <listeners>
          <add name="SyncDebugTraceListener" />
        </listeners>
      </add>
      <add switchValue="All" name="Info">
        <listeners>
          <add name="SyncInfoTraceListener" />
        </listeners>
      </add>
      <add switchValue="All" name="Email">
        <listeners>
          <add name="Email Trace Listener" />
        </listeners>
      </add>
      <add switchValue="All" name="Au">
        <listeners>
          <add name="SyncAuTraceListener" />
        </listeners>
      </add>
    </categorySources>
    <specialSources>
      <allEvents switchValue="All" name="All Events" />
      <notProcessed switchValue="All" name="Unprocessed Category" />
      <errors switchValue="All" name="Logging Errors &amp; Warnings">
        <listeners>
          <add name="SyncInfoTraceListener" />
        </listeners>
      </errors>
    </specialSources>
  </loggingConfiguration>

  <cachingConfiguration defaultCacheManager="Cache Manager">
    <cacheManagers>
      <add name="Cache Manager" type="Microsoft.Practices.EnterpriseLibrary.Caching.CacheManager, Microsoft.Practices.EnterpriseLibrary.Caching, Version=5.0.414.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
        expirationPollFrequencyInSeconds="60" maximumElementsInCacheBeforeScavenging="1000"
        numberToRemoveWhenScavenging="10" backingStoreName="NullBackingStore" />
    </cacheManagers>
    <backingStores>
      <add type="Microsoft.Practices.EnterpriseLibrary.Caching.BackingStoreImplementations.NullBackingStore, Microsoft.Practices.EnterpriseLibrary.Caching, Version=5.0.414.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
        name="NullBackingStore" />
    </backingStores>
  </cachingConfiguration>

  <syncConfiguration>
  </syncConfiguration>

  <appSettings>
    <add key="Error" value="false"/>
    <add key="Debug" value="true"/>
    <add key="Info" value="false"/>
    <add key="Email" value="false"/>
    <add key="AutodateLog" value="true"/>
    <add key="AutoUpdateAddress" value="http://pos.yishion.com:8765/YSPOS/Sync/SyncUpdate.ini"/>
    <!--快捷方式设置-->
    <add key="ShortcutName" value="同步修复,同步桥"/>
    <add key="ShortcutPath" value="Patch.exe,YS.Sync.WinUI.exe"/>
    <add key="ShortcutDesc" value="用于同步失败后修复,同步桥工具"/>
  </appSettings>

  <connectionStrings>
  </connectionStrings>

  <system.serviceModel>

    <client>
      <endpoint name="SyncTcp"
               address="net.tcp://sync.yishion.com:7009/AgentSync"
               binding="netTcpBinding"
		bindingConfiguration="tcpBinding1"
               contract="IAgentSync">
      </endpoint>

      <endpoint name="SyncInstr"
               address="net.tcp://sync.yishion.com:7019/AgentSync"
               binding="netTcpBinding"
		bindingConfiguration="tcpBinding1"
               contract="IAgentSync">
      </endpoint>

      <endpoint address="http://116.6.87.12:5858/DB.asmx" binding="wsDualHttpBinding"
        bindingConfiguration="SubscriberBinding" contract="IAgentSync"
        name="Publish" />

      <endpoint address="http://116.6.87.12:6000/DB.asmx" binding="basicHttpBinding"
       bindingConfiguration="PubSvcBinding" contract="IAgentSync"
       name="PubSvc" />

    </client>


    <services>
    </services>

    <bindings>
      <wsDualHttpBinding>
        <binding name="SubscriberBinding" closeTimeout="00:01:00"
                          openTimeout="00:01:00" receiveTimeout="00:01:00" sendTimeout="00:01:00">
          <security mode="None" />
        </binding>
      </wsDualHttpBinding>

      <basicHttpBinding>
        <binding name="PubSvcBinding" closeTimeout="00:03:00" openTimeout="00:03:00"
          receiveTimeout="00:03:00" sendTimeout="00:03:00" allowCookies="false"
          bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard"
          maxBufferSize="512000" maxBufferPoolSize="12000" maxReceivedMessageSize="512000"
          messageEncoding="Text" textEncoding="utf-8" transferMode="Buffered"
          useDefaultWebProxy="true">
          <readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="12000"
            maxBytesPerRead="4096" maxNameTableCharCount="12000" />
          <security mode="None">
            <transport clientCredentialType="None" proxyCredentialType="None"
              realm="" />
            <message clientCredentialType="UserName" algorithmSuite="Default" />
          </security>
        </binding>
      </basicHttpBinding>

      <netTcpBinding>
        <binding name="tcpBinding1" closeTimeout="00:03:00"
                          openTimeout="00:03:00" receiveTimeout="00:05:00" sendTimeout="00:05:00"
                          transactionFlow="false" transferMode="Buffered" transactionProtocol="OleTransactions"
                          hostNameComparisonMode="StrongWildcard" listenBacklog="10"
                          maxBufferPoolSize="102400"  maxConnections="10240"
                          maxReceivedMessageSize="102400">
          <readerQuotas maxDepth="256" maxStringContentLength="102400" maxArrayLength="102400"
              maxBytesPerRead="102400" maxNameTableCharCount="1024" />
          <reliableSession ordered="true" inactivityTimeout="00:03:00"
              enabled="false" />
          <security mode="None" />
        </binding>
      </netTcpBinding>

    </bindings>

    <behaviors>
      <serviceBehaviors>
        <behavior name="MyServiceTypeBehaviors" >
          <!-- 为避免泄漏元数据信息，
          请在部署前将以下值设置为 false 并删除上面的元数据终结点  -->
          <serviceMetadata httpGetEnabled="True"/>
          <!-- 要接收故障异常详细信息以进行调试，
          请将以下值设置为 true。在部署前设置为 false 
            以避免泄漏异常信息-->
          <serviceDebug includeExceptionDetailInFaults="False"/>
        </behavior>
      </serviceBehaviors>
    </behaviors>
  </system.serviceModel>
</configuration>